:80 {
	root * /srv
	encode zstd gzip

	@adminRoot path /admin
	redir @adminRoot /admin/ 308

	route {
		reverse_proxy /socket.io* server:3001
		reverse_proxy /healthz server:3001
		reverse_proxy /leaderboard* server:3001
		reverse_proxy /api/* admin:3002
		handle_path /admin/* {
			reverse_proxy admin:3002
		}
		try_files {path} /index.html
		file_server
	}
}
